<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
	<link rel="icon" href="/img/weather.png" />
</head>

<body>
        
    <div class="main-content">
        {{>header}}
        <p>This website was created by {{name}}.</p>
        <p>It uses data from <a href="www.geocode.maps.co">geocode.maps.co</a> and <a href="www.weatherapi.com">weatherapi.com</a>.</p>
        <h2>{{who}}</h2>
        <img class="portrate-img" src="./img/photo_2025-01-23_11-44-58.jpg" alt="Black and White can sleeping with a toy carrot.">
    </div>
    {{>footer}}
</body>


</html>