{{! suppose to replace the homepage  a hablebar templete }}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="icon" href="/img/weather.png" />
		<script src="/js/app.js" defer></script>
	</head>

	<body>
		
		<div class="main-content">
			{{>header}}
			<h2>{{weather}}</h2>
			<form action="" method="get">
				<label for="city">
					City:
				</label>
				<input type="text" name="city" id="city" placeholder="Entre a city name">
				<button name="search" id="searchBtn">Search</button>
			</form>
		</div>
		{{>footer}}
	</body>
		{{!-- <script src="/js/app.js"></script> --}}

</html>