<header>
	<h1>{{title}}</h1>
  
	<a href="/">Weather</a>
	<a href="/about">About</a>
	<a href="/help">Help</a>
</header>
{{!-- <nav>
  <ul>
    {{#each links}}
      <li>
        <a href="{{this.url}}" class="{{#if this.active}}active{{/if}}">
          {{this.name}}
        </a>
      </li>
    {{/each}}
  </ul>
</nav> --}}