* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px auto;
	padding: 0 16px;
	/* background: burlywood; */
	width: 650px;
	/* width: 100vw; */
	color: #333333;
	font-family: "Courier New", Courier, monospace, Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex-grow: 1;
}

footer {
	color: #888888;
	border-top: 1px solid #eee2e2;
	padding: 16px 0;
	margin-top: 16px;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}
h1 {
	font-size: 64px;
	margin-bottom: 16px;
	color: crimson;
}

a {
	color: #6e6e6e;
	text-decoration: none;
}

header a {
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}

h2 {
	color: tomato;
}

/* h3 {
	color: green;
} */

.portrate-img {
	width: 250px;
	height: 250px;
}

input {
	border: 1px solid #cccccc;
	padding: 2px 6px;
	border-radius: 5px;
}

button {
	cursor: pointer;
	padding: 2px 12px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
